$font-family: 'Roboto', sans-serif;
$font-size-base: 16px;
$font-size-large: 24px;
$font-size-extra-large: 32px;

@mixin title-big {
  font-family: $font-family;
  font-size: $font-size-extra-large;
  font-weight: bold;
}